@charset "utf-8";
/* CSS Document */

h1 {
	font-family: "Century Gothic", Verdana, Helvetica, Sans-serif;
	font-size: 4em;
	color: DodgerBlue;
	text-shadow: 5px 5px 10px #c3c3c3;
}

h2 {
	font-family: "Century Gothic", Verdana, Helvetica, Sans-serif;
	font-size: 3em;
	color: LightSlateGray;
}

h3 {
	font-family:"Century Gothic", Verdana, Helvetica, Sans-serif;
	font-size: 2.5em;
	color: Black;
}

p {
	font-family: "Century Gothic", Verdana, Helvetica, Sans-serif;
	font-size: 1em;
	color: Black;
	text-align: justify;
}

a:link {
	text-decoration: none;
	font-family: "Century Gothic", Verdana, Helvetica, Sans-serif;
	font-size: 1em;
	color: RoyalBlue;
}

a:hover {
	text-decoration: underline;
	font-family: "Century Gothic", Verdana, Helvetica, Sans-serif;
	font-size: 1em;
	color: CornflowerBlue;
}

a:active {
	text-decoration: underline;
	font-family: "Century Gothic", Verdana, Helvetica, Sans-serif;
	font-size: 1em;
	color: LightSteelBlue;
}

a:visited {
	text-decoration: none;
	font-family: "Century Gothic", Verdana, Helvetica, Sans-serif;
	font-size: 1em;
	color: DarkSteelBlue;
}

a.alternate:link {
	text-decoration: none;
	font-family: "Century Gothic", Verdana, Helvetica, Sans-serif;
	font-size: 1em;
	color: WhiteSmoke;
}

a.alternate:hover {
	text-decoration: underline;
	font-family: "Century Gothic", Verdana, Helvetica, Sans-serif;
	font-size: 1em;
	color: White;
}

a.alternate:active {
	text-decoration: underline;
	font-family: "Century Gothic", Verdana, Helvetica, Sans-serif;
	font-size: 1em;
	color: WhiteSmoke;
}

a.alternate:visited {
	text-decoration: none;
	font-family: "Century Gothic", Verdana, Helvetica, Sans-serif;
	font-size: 1em;
	color: WhiteSmoke;
}

a.headers:link {
	text-decoration: none;
	font-family: "Century Gothic", Verdana, Helvetica, Sans-serif;
	font-size: 1em;
	color: black;
}

a.headers:visited {
	text-decoration: none;
	font-family:"Century Gothic", Verdana, Helvetica, Sans-serif;
	color: Black;
}

a.headers:hover {
	text-decoration: underline;
	font-family: "Century Gothic", Verdana, Helvetica, Sans-serif;
	color: CornflowerBlue;
}

a.headers:active {
	text-decoration: underline;
	font-family:"Century Gothic", Verdana, Helvetica, Sans-serif;
	color:LightSteelBlue;
}	

figcaption {
	font-family: "Century Gothic", Verdana, Helvetica, Sans-serif;
	font-size: 0.75em;
	color: Black;
}

nav {
	margin: 0px auto;
	padding: 5px;
	height: 1.25em;
	font-family: "Century Gothic", Verdana, Helvetica, Sans-serif;
	font-size: 1.25em;
	text-align: center;
	text-decoration: none;
	background: RoyalBlue;
}

.paragraph_text {
	font-family: "Century Gothic", Verdana, Helvetica, Sans-serif;
	font-size: 1em;
	color: Black;
	text-align: justify;
	text-indent: 2em;
}

.center_text {
	text-align: center;
}

address {
	font-size: 0.75em;
}

article {
	width: 500px;
	margin: 10px auto;
	padding: 10px 20px;
}

article.primary {
	width: 1000px;
	float: none;
}

.left {
	float: left;
}

.right {
	float: right;
}

footer {
	width: 1000px;
	margin:50px auto 10px;
	float: none;
}

#links_table {
	width: 1000px;
	margin: 5px auto;
	padding: 5px;
	font-family: "Century Gothic", Verdana, Helvetica, Sans-serif;
	color: WhiteSmoke;
	clear: both;
}

#tail {
	width: auto;
	background: RoyalBlue;
	clear: both;
}

#wrapper {
	width: 1200px;
	margin: 0px auto;
	background: GhostWhite;
	box-shadow: 5px 5px 10px #C3C3C3;
}

#header_img {
	width: 100%;
	height: 250px;
	margin: 0px auto;
}

#primary_img {
	width: 1000px;
	margin: 0px auto;
}

img.article_img {
	width: 500px;
	margin: 0px auto;
}

img.auth_img {
	with: 50px;
	height:60px;
}